<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cardio.com.cardio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="cardio.com.cardio.common.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".common.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.activities.LoginActivity" />
        <activity android:name=".patiente.activities.MainActivityPatient" />
        <activity android:name=".professional.activities.MainActivityProfessional"></activity>
    </application>

</manifest>