<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cardio.uff.cardio">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:name="cardio.uff.cardio.common.App"
        android:allowBackup="false"
        android:icon="@drawable/square_ico"
        android:roundIcon="@drawable/round_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="false"
        tools:ignore="HardcodedDebugMode">

        <activity android:name="cardio.uff.cardio.common.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cardio.uff.cardio.common.activities.LoginActivity" />
        <activity android:name="cardio.uff.cardio.patiente.activities.MainActivityPatient" />
        <activity android:name="cardio.uff.cardio.professional.activities.MainActivityProfessional"/>

        <!--<meta-data android:name="firebase_messaging_auto_init_enabled"-->
            <!--android:value="false" />-->

        <service android:name="cardio.uff.cardio.common.Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="cardio.uff.cardio.common.Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="cardio.uff.cardio.common.Firebase.CardioJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <receiver android:name=".alarms.PerformedBroadcastReceiver">
            <intent-filter>
                <action android:name="cardio.uff.PERFORMED_INTENT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>